<!-- circuitos.html -->

{% extends "principal.html" %}
{% block title %}F1 MANIA{% endblock %}
{% block titulo %}Circuitos{% endblock %}
{% block imagen %}src="/static/images/circuitos.jpg"{% endblock %}
{% block contenido %}
    <h2>Buscar Circuitos</h2>
    <form action="/circuitos" method="GET">
        <label for="circuito">Selecciona un circuito:</label>
        <select id="circuito" name="circuito">
            <option value="">Todos</option>
            {% for meeting in granp %}
                <option value="{{ meeting.meeting_name }}">{{ meeting.meeting_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Buscar</button>
    </form>

    {% if buscado %}
        {% if meetings %}
            <h2>Lista de Circuitos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre del GP</th>
                        <th>Nombre Oficial</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <td>{{ meeting.meeting_name }}</td>
                            <td>{{ meeting.meeting_official_name }}</td>
                            <td>
                                <a href="/detalles_circuito/{{ meeting.circuit_key }}">Ver Detalles</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay circuitos disponibles.</p>
        {% endif %}
    {% endif %}

{% endblock %}
